.cadastro-painel-conteudo{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    display: inline-block;
}

.mb-3{
    display: inline-block;
    width: 100%;
}

.col-mb-2{
    width: 100px;
    margin: 0px 10px 10px 10px;
    display: inline-block;
}

.col-mb-3{
    width: 300px;
    margin: 0px 10px 10px 10px;
    display: inline-block;
}

.col-mb-4{
    width: 500px; 
    margin: 0px 10px 10px 10px;
    display: inline-block;
}
.btn-icon{
    border-style: none;
    background-color: white;
    margin: auto;
}
.btn{
    border-style: none;
    margin: auto;
}

i.bi-arrow-left-short{
    font-size: 2em;
}