<div class="div-class">
  <button type="button" class="btn-icon" (click)="onBack()">
    <i class="bi bi-arrow-left-short"></i>
  </button>
</div>
<form [formGroup]="form">

  <div class="cadastro-painel-conteudo">

    <div class="mb3 col-mb-3 ">
        <label for="inputNomeCurso" class="form-label">Nome curso</label>
        <input type="text" class="form-control col-mb-3" id="inputNomeCurso" placeholder="" formControlName="nome">
    </div>

    <div class="mb3 col-mb-3">
        <label for="inputDuracaoCurso" class="form-label">Duracao do curso</label>
        <input type="number" class="form-control col-mb-3" id="inputDuracaoCurso" placeholder="" formControlName="duracao">
    </div>

    <div class="mb3 col-mb-3">
      <label for="inputDuracaoCurso" class="form-label">Tipo curso</label>
      <select formControlName="tipoCurso" class="form-select col-mb-3 " aria-label="Default select example">
        <option selected>Selecione um tipo de curso</option>
        <option value="Pago" >Pago</option>
        <option value="Gratuito">Gratuito</option>
      </select>
      <!-- <input type="text" class="form-control col-mb-3" id="inputDuracaoCurso" placeholder="" formControlName="duracao"> -->
    </div>

    <div class="mb3 col-mb-2 ">
      <input class="btn btn-primary" type="submit" value="Cadastrar" (click)="salvarForm()">
    </div>

  </div>

</form>